<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="SimpleTextProcessor.Properties.Settings.simpleTextProcessorDBConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\simpleTextProcessorDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />-->
    <add name="SimpleTextProcessor.Properties.Settings.simpleDataDBConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ne_andrey\Documents\Visual Studio 2015\Projects\SimpleTextProcessor\SimpleTextProcessor\simpleDataDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>